<h1>Login</h1>

<form (ngSubmit)="onLogin()">
    <label>E-Mail</label>
    <input
    type="email"
    name="email"
    placeholder="E-Mail"
    [(ngModel)]="email"
    required
    >

    <label>Password</label>
    <input
    type="password"
    name="password"
    placeholder="Password"
    [(ngModel)]="password"
    required
    >

    <button type="submit" [disabled]="loading">
        {{ loading ? "loggin in ..." : "Login" }}
    </button>

</form>
@if (error) {
    <p>
        Errormessage: {{error}}
    </p>
}
<p>
    {{userEmail}}
</p>
<!--<input
    type="password"
    name="password"
    placeholder="password"
    [(ngModel)]="password"
    required
    >-->